.qr-code-container {
    display: none;
}

@media print {
    header {
        color: black !important;
    }
    .p-container {
        margin: 0;
        padding: 0;
    }

    .qr-code-container {
        display: flex !important;
        direction: column;
        align-items: center;
        margin-top: 9em;
        margin-left: 3em;
    }

    /* Ensure content starts on a new page after the first page */
    .main-content {
        page-break-before: always;
        max-height: calc(200vh - 40px); /* Adjust based on your header height */
        overflow: hidden;
    }

    body {
        margin: 0;
        min-height: 100vh;
        max-height: 200vh; /* Limit to two pages */
        overflow: hidden;
        padding: 20px; /* Adjust as needed */
    }

    /* Show the QR code only on the second page */
    /* .main-content:nth-of-type(2) ~ .qr-code-container {
        display: block;
    } */

    /* Prevent the third page from being created */
    .main-content:nth-of-type(2) {
        page-break-after: avoid;
    }
}

@media screen {
    .qr-code-container {
        display: none;
    }
}

.bg-accent-dark {
    background-color: dodgerblue;
}

/* Set page size and remove default margins */
@page {
    size: A4;
    margin: 0;
}

@media print, (min-resolution: 1.1dppx) {
    .qr-code-container {
        display: flex !important;
    }
}