@media print {
    header {
        color: black!important;
    }
    /* .p-name {
        font-size: 8px;
    } */
    .p-container {
        margin: 0;
        padding: 0;
    }

}

.bg-accent-dark {
    background-color: dodgerblue;
  
}

